.root {
  -fx-padding: 16px 24px;
}

.navbar {
}

.navbar .title {
  -fx-font-size: 80px;
  -fx-text-fill: #776e65;
}

.navbar .score {
  -fx-alignment: center;
  -fx-background-color: #bbada0;
  -fx-padding: 5px 15px;
  -fx-background-radius: 8;
}

.navbar .score .score-title {
  -fx-font-size: 13px;
  -fx-text-fill: #eee4da;
}

.navbar .score .score-value {
  -fx-font-size: 25px;
  -fx-text-fill: white;
}

.board {
  -fx-background-color: #bbada0;
  -fx-background-radius: 6;
}

.tile.empty {
  -fx-background-color: rgba(238, 228, 218, 0.35);
}

.tile {
  -fx-background-radius: 8;
}

.tile-2 {
  -fx-font-size: 55px;
  -fx-text-fill: #776e65;
  -fx-background-color: #eee4da;
}

.tile-4 {
  -fx-font-size: 55px;
  -fx-text-fill: #776e65;
  -fx-background-color: #ede0c8;
}

.tile-8 {
  -fx-font-size: 55px;
  -fx-text-fill: #f9f6f2;
  -fx-background-color: #f2b179;
}

.tile-16 {
  -fx-font-size: 55px;
  -fx-text-fill: #f9f6f2;
  -fx-background-color: #f59563;
}

.tile-32 {
  -fx-font-size: 55px;
  -fx-text-fill: #f9f6f2;
  -fx-background-color: #f67c5f;
}

.tile-64 {
  -fx-font-size: 55px;
  -fx-text-fill: #f9f6f2;
  -fx-background-color: #f65e3b;
}

.tile-128 {
  -fx-font-size: 45px;
  -fx-text-fill: #f9f6f2;
  -fx-background-color: #edcf72;
}

.tile-256 {
  -fx-font-size: 45px;
  -fx-text-fill: #f9f6f2;
  -fx-background-color: #edcc61;
}

.tile-512 {
  -fx-font-size: 45px;
  -fx-text-fill: #f9f6f2;
  -fx-background-color: #edc850;
}

.tile-1024 { 
  -fx-font-size: 35px;
  -fx-text-fill: #f9f6f2;
  -fx-background-color: #edc53f;
}

.tile-2048 {
  -fx-font-size: 35px;
  -fx-text-fill: #f9f6f2;
  -fx-background-color: #edc22e;
}

.tile-4096, .tile-8192 {
  -fx-font-size: 30px;
  -fx-text-fill: #f9f6f2;
  -fx-background-color: #3c3a32;
}

.tile-16384, .tile-32768, .tile-65536 {
  -fx-font-size: 25px;
  -fx-text-fill: #f9f6f2;
  -fx-background-color: #121212;
}

.toolbar {
  -fx-spacing: 8px;
  -fx-alignment: center-right;
  -fx-padding: 16px 0 0 0;
}

.toolbar .button {
  -fx-background-color: #8f7a66;
  -fx-text-fill: #f9f6f2;
  -fx-padding: 0 20px;
  -fx-background-radius: 8;
  -fx-font-size: 18px;
  -fx-pref-height: 40px;
  -fx-font-weight: bold;
  -fx-cursor: hand;
}
